<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a routerLink="home" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <span class="fs-4">Capacitación Angular</span>
        </a>

        <ul class="nav nav-pills">
            <li class="nav-item" *ngFor="let item of menuItems">
                <a [routerLink]="item.route" [class]="item.class" [ngClass]="{'active' : currentRoute==item.route}">
                    {{ item.name }}
                </a>
            </li>
        </ul>
    </header>
</div>