<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">{{ "app.code" | translate }}</th>
                <th scope="col">{{ "app.name" | translate }}</th>
                <th scope="col">{{ "app.price" | translate }}</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products; let i = index">
                <td>{{ product.code }}</td>
                <td>{{ product.name | titlecase }}</td>
                <td>${{ product.price }}</td>
                <td>
                    <button type="button" class="btn btn-light" [routerLink]="['/product',product.code,'detail']" [title]="'app.detail' | translate ">
                        <i class="bi bi-postcard"></i>
                    </button>
                    <button type="button" class="btn btn-light ms-1" [routerLink]="['/product',product.code,'edit']" [title]="'app.edit' | translate ">
                        <i class="bi bi-pencil-square"></i>
                    </button>
                    <button type="button" class="btn btn-danger ms-1" (click)="removeProduct(product)" [title]="'app.delete' | translate ">
                        <i class="bi bi-trash"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
