<div class="vh-100 d-flex justify-content-center align-items-center">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-md-8 col-lg-6">
                <div class="card bg-white">
                    <div class="card-body p-5">
                        <cap-login-form></cap-login-form>
                        <div>
                            <p class="mb-0  text-center">No tienes cuenta? 
                                <a href="#" class="text-primary fw-bold">
                                    Registrate ahora!
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>