<form class="mb-3 mt-md-4">
    <h2 class="fw-bold mb-2 text-uppercase ">Registro</h2>
    <p class=" mb-5">Capacitación Angular</p>
    <div class="mb-3">
        <label for="username" class="form-label ">Usuario</label>
        <input type="text" class="form-control" id="username" placeholder="Ingresa tu usuario">
    </div>
    <div class="mb-3">
        <label for="password" class="form-label ">Contraseña</label>
        <input type="password" class="form-control" id="password" placeholder="*******">
    </div>
    <!-- <p class="small"><a class="text-primary" href="forget-password.html">Forgot password?</a></p> -->
    <div class="d-grid">
        <button class="btn btn-outline-dark" type="submit">Registrar</button>
    </div>
</form>
