<form (submit)="onSubmit(clientForm)" [formGroup]="clientForm">
    <div class="mb-3">
        <label for="client-first-name" class="form-label">{{ "app.name" | translate}}</label>
        <input
            formControlName="firstName"
            type="text"
            class="form-control"
            id="client-first-name"
        />
        <div *ngIf="clientForm.controls['firstName'].invalid && clientForm.controls['firstName'].touched">
            <div *ngIf="clientForm.get('firstName')?.hasError('required')" class="invalid-feedback d-block">
                {{ "error.name_required" | translate }}
            </div>
            <div *ngIf="clientForm.get('firstName')?.hasError('maxlength')" class="invalid-feedback d-block">
                {{ "error.name_max_characters_20" | translate }}
            </div>
        </div>
    </div>
    <div class="mb-3">
        <label for="client-last-name" class="form-label">{{ "app.surname" | translate}}</label>
        <input
            formControlName="lastName"
            type="text"
            class="form-control"
            id="client-last-name"
        />
        <div *ngIf="clientForm.controls['lastName'].invalid && clientForm.controls['lastName'].touched">
            <div *ngIf="clientForm.get('lastName')?.hasError('required')" class="invalid-feedback d-block">
                {{ "error.surname_required" | translate }}
            </div>
            <div *ngIf="clientForm.get('lastName')?.hasError('maxlength')" class="invalid-feedback d-block">
                {{ "error.surname_max_characters_20" | translate }}
            </div>
        </div>
    </div>
    <div class="mb-3">
        <label for="client-document-number" class="form-label">{{ "app.document_number" | translate}}</label>
        <input
            formControlName="documentNumber"
            type="number"
            class="form-control"
            id="client-document-number"
        />
        <div *ngIf="clientForm.controls['documentNumber'].invalid && clientForm.controls['documentNumber'].touched">
            <div *ngIf="clientForm.get('documentNumber')?.hasError('required')" class="invalid-feedback d-block">
                {{ "error.document_number_required" | translate }}
            </div>
            <div *ngIf="clientForm.get('documentNumber')?.hasError('max')" class="invalid-feedback d-block">
                {{ "error.document_number_incorrect" | translate }}
            </div>
        </div>
    </div>
    <div class="mb-3">
        <label for="client-email" class="form-label">{{ "app.email" | translate}}</label>
        <input
            formControlName="email"
            type="text"
            class="form-control"
            id="client-email"
        />
        <div *ngIf="clientForm.controls['email'].invalid && clientForm.controls['email'].touched">
            <div *ngIf="clientForm.get('email')?.hasError('required')" class="invalid-feedback d-block">
                {{ "error.email_required" | translate }}
            </div>
            <div *ngIf="clientForm.get('email')?.hasError('maxlength')" class="invalid-feedback d-block">
                {{ "error.email_max_characters_40" | translate }}
            </div>
            <div *ngIf="clientForm.get('email')?.hasError('email')" class="invalid-feedback d-block">
                {{ "error.email_invalid_format" | translate }}
            </div>
        </div>
    </div>
    <div class="mb-3">
        <label for="client-birthday" class="form-label">{{ "app.birthday" | translate}}</label>
        <input
            formControlName="birthday"
            type="date"
            class="form-control"
            id="client-birthday"
        />
        <div *ngIf="clientForm.controls['birthday'].invalid && clientForm.controls['birthday'].touched">
            <div *ngIf="clientForm.get('birthday')?.hasError('required')" class="invalid-feedback d-block">
                {{ "error.birthday_required" | translate }}
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">{{ "app.save" | translate}}</button>
    <button type="button" class="btn btn-light ms-2" routerLink="/client/list">{{ "app.cancel" | translate}}</button>
</form>