<form (submit)="onSubmit(productForm)" [formGroup]="productForm">
    <div class="mb-3">
        <label for="product-code" class="form-label">{{ "app.code" | translate}}</label>
        <input
            formControlName="code"
            type="number"
            class="form-control"
            id="product-code"
        />
        <div *ngIf="productForm.controls['code'].invalid && productForm.controls['code'].touched">
            <div *ngIf="productForm.get('code')?.hasError('required')" class="invalid-feedback d-block">
                {{ "error.product_code_required" | translate }}
            </div>
            <div *ngIf="productForm.get('code')?.hasError('min')" class="invalid-feedback d-block">
                {{ "error.product_code_greater_than_zero" | translate }}
            </div>
        </div>
    </div>
    <div class="mb-3">
        <label for="product-name" class="form-label">{{ "app.name" | translate}}</label>
        <input
            formControlName="name"
            type="text"
            class="form-control"
            id="product-name"
        />
        <div *ngIf="productForm.controls['name'].invalid && productForm.controls['name'].touched">
            <div *ngIf="productForm.get('name')?.hasError('required')" class="invalid-feedback d-block">
                {{ "error.name_required" | translate }}
            </div>
            <div *ngIf="productForm.get('name')?.hasError('maxlength')" class="invalid-feedback d-block">
                {{ "error.name_max_characters_20" | translate }}
            </div>
        </div>
    </div>
    <div class="mb-3">
        <label for="product-description" class="form-label">{{ "app.description" | translate}}</label>
        <textarea 
            class="form-control" 
            id="product-description" 
            rows="3"
            formControlName="description"
            style="resize: none;"
        >
        </textarea>
        <div *ngIf="productForm.controls['description'].invalid && productForm.controls['description'].touched">
            <div *ngIf="productForm.get('description')?.hasError('required')" class="invalid-feedback d-block">
                {{ "error.description_required" | translate }}
            </div>
        </div>
    </div>
    <div class="mb-3">
        <label for="product-price" class="form-label">{{ "app.price" | translate}}</label>
        <input
            formControlName="price"
            type="number"
            class="form-control"
            id="product-price"
        />
        <div *ngIf="productForm.controls['price'].invalid && productForm.controls['price'].touched">
            <div *ngIf="productForm.get('price')?.hasError('required')" class="invalid-feedback d-block">
                {{ "error.price_required" | translate }}
            </div>
            <div *ngIf="productForm.get('price')?.hasError('min')" class="invalid-feedback d-block">
                {{ "error.price_cantby_0" | translate }}
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">{{ "app.save" | translate}}</button>
    <button type="button" class="btn btn-light ms-2" routerLink="/product/list">{{ "app.cancel" | translate}}</button>
</form>
